.logo {
    width: clamp(200px, 100%, 500px);
}
.container {
    margin-top: 2rem;
    text-align: center;
}

.coll-message-container {
    width: 90vw;
    flex-wrap: wrap;
}
.coll-message-container > div {
    padding: .5rem;
}

.invalid {
    font-style: italic;
    color: crimson;
}